//form controls
// https://codepen.io/nikstech/pen/xmMxpr
.input-container {
  position: relative;
}

.input-container label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: #fff;
}

.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
}

.btn {
  color: #fff;
  background-color: #e74c3c;
  outline: none;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  margin-left: 20px;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
  top: -12px;
  font-size: 12px;

}

//end of form controls

#navigation {
  background: #222222;
  z-index: 10;
  position: fixed;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  left: 50%;
  top: 50px;
  transform: translate(-50%, 0);
}

@media screen and (max-width: 800px) {
  #navigation {
    width: 80%;
    top: unset;
    bottom: 30px;
  }
}

#navigation form {
  display: flex;
}

#navigation form .input-container {
  flex-grow: 1;
}

:root{
  --is-non-topographic: 0;
}

#change-map-style{
  z-index: 10;
  position: absolute;
  border: 2px solid #fff;
  bottom: 20px;
  right: 20px;
  width: 64px;
  height: 64px;
  background: url("../../topographic_toggle.png") calc(var(--is-non-topographic) * 64px) 0;
  background-size: 128px 64px;
  transition: background-position 100ms linear;
  border-radius: 25%;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 0 inset, rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
@media screen and (max-width: 800px) {
  #change-map-style{
    bottom: unset;
    top: 20px;
  }
}
.non-topographic{
  --is-non-topographic: 1;
}
