//form controls
// https://codepen.io/nikstech/pen/xmMxpr
.input-container {
  position: relative;
}

.input-container label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: #fff;
}

.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
}

.btn {
  color: #fff;
  background-color: #e74c3c;
  outline: none;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  margin-left: 20px;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
  top: -12px;
  font-size: 12px;

}

//end of form controls

#navigation {
  background: #222222;
  z-index: 10;
  position: fixed;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  left: 50%;
  top: 50px;
  transform: translate(-50%, 0);
}

@media screen and (max-width: 800px) {

  #navigation {
    width: 80%;
    top: unset;
    bottom: 30px;
  }
}

#navigation form {
  display: flex;
}

#navigation form .input-container {
  flex-grow: 1;
}