.cluster-marker {
  background: #222;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #555;
  color: #fff;
  box-sizing: border-box;
}
